



body{

	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: normal;
	background: #F0F2F0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000C40, #F0F2F0); 
background: linear-gradient(to right, #000C40, #F0F2F0); 

}

#container{

background: #f9f9f9;
width: 50%;
margin: 100px auto;
box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
 


}
.fa-trash-alt{
	color: white;
}
#plusIcon{
	float: right;
	margin-top: 10px;
}
span{
	background: #e74c3c;
	height: 50px;

	display: inline-block;
	width: 0;
	color:white;
	text-align: center;
	margin-right: 20px;
	opacity: 0;
}
li:hover span{
	width: 40px;
	
	transition: 1s ease;
	opacity: 1;
}

input{
	width: 100%;
	padding: 15px 15px 15px 15px;
	box-sizing: border-box;
	font-size: 24px;
	background: #f9f9f9;
	color: #15aabf;
	border: 1px solid rgba(0,0,0,0);
	
}
input:focus{
background: white;
border: 3px solid #15aabf;
outline:none;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
li
{
	line-height: 50px;
}
li:nth-child(2n) {
  background: white;
}
h1{
	background: #15aabf;
	margin:0;
	color: white;
	padding: 10px 20px;
	font-weight: 100;

}
.strikeThrough{
	text-decoration: line-through;
	color: gray;
}
.crossout{
	
	transition:1s ease;
	color: white;
}

@media screen and (max-width: 800px) {
  body {
    background-color: lightgreen;

  }

  h1{
	
	font-size: 1.1rem;
}

li{
	font-size: 1.1rem;
	line-height: 20px;

}
#container{
width: 50%;
}


}